<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quote </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <div id="jumb" class="jumbotron">
        <h1> Quotes</h1>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div *ngFor='let quote of quotes; let i=index'>
                    <p appHighlight>{{quote.inspquote}} <br>
                        Author:{{quote.author}}
                    </p>
                    <ul>
                        <button (click)="addLikeVotes(i)"><i class="fas fa-thumbs-up"></i></button>{{quote.likeVotes}} 
                        <button (click)="addDislikeVotes(i)"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>{{quote.dislikeVotes}}
                    </ul>

                 
                    <button (click)="displayDetails(i)" class="btn btn-outline-info">Quote Details</button>
                    <div>
                        <app-quote-detail *ngIf="quote.showQuotes" [quote]='quote'
                            (isComplete)="deleteQuote($event, i)">
                        </app-quote-detail>
                    </div>
                </div>
            </div>
            <div id="new" class="col-md-6">
                <app-quote-form (AddQuote)="addNewQuote($event)"></app-quote-form>
            </div>

        </div>
    </div>


</body>

</html>