h1{
    font-size: 100px;
    font-family: 'Spicy Rice', cursive;
    text-align: center;
    border-bottom: 1px solid rgb(98, 224, 48);
    padding: 5px;
    color: darkgreen;
    
}
body {
    background-image:url(https://cdn.pixabay.com/photo/2015/09/27/15/28/moonshine-960797_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
    border: 1px solid;
    padding: 70px;
    padding:20px;   
}

#new{
    background-color:inherit;
    color: rgb(38, 190, 24);
        
}

#jumb{
    background-image: url(https://cdn.pixabay.com/photo/2016/12/01/14/02/light-bulbs-1875384__340.jpg);
    border-radius: 30px;
    background-color:#b2d1f1;
    
   }